<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="SIMPLE" />
		<setting name="defaultStatementTimeout" value="25000" />
		<setting name="safeRowBoundsEnabled" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
		<setting name="localCacheScope" value="SESSION" />
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString" />
	</settings>

	<typeAliases>
		<typeAlias type="com.jcone.hieform.management.vo.User" alias="User"/>
		<!-- <typeAlias type="com.jcone.hieform.server.domain.EssHistory" alias="EssHistory" />
		<typeAlias type="com.jcone.hieform.server.domain.SendMailInfo" alias="SendMailInfo" />

		ING dto
		<typeAlias alias="certMasterBean" type="com.jcone.hieform.server.custom.dto.CertMasterBean" />
		<typeAlias alias="certClassBean" type="com.jcone.hieform.server.custom.dto.CertClassBean" />
		<typeAlias alias="certDocExtBean" type="com.jcone.hieform.server.custom.dto.CertDocExtBean" />
		<typeAlias alias="certAttachBean" type="com.jcone.hieform.server.custom.dto.CertAttachBean" /> -->
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" javaType="java.lang.String" jdbcType="CLOB" />
	</typeHandlers>


	<mappers>
		<!-- <mapper resource="mapper/essHistory_SQL.xml" />
		<mapper resource="mapper/cedaCert_SQL.xml" /> -->
		<mapper resource="mapper/management/user_SQL.xml" />
	</mappers>

</configuration>